---
layout: default
---

<!-- RESEARCH -->
    <section id="research" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">I study the physics of mixing processes (i.e. turbulence) in the ocean, I develop new ways to add this mixing to computer models of the ocean, and I assess the impacts of this mixing on the Earth system and its climate. </h3>
                </div>
            </div>
        </div>
        {% for topic in site.data.research %}
        <div class="container">
            <div class="row research-topic">
                <div class="col-md-4">
                        <img src="img/research/{{ topic.pic }}" class="img-responsive" alt="">
                </div>
                <div class="col-lg-8">
                        <h4>{{ topic.name }}</h4>
                        <p class="text-muted">{{ topic.description }}</p>
                        <p class="text-muted"><i>Find out more</i> &rarr; {{ topic.more }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </section>


<!-- TEACHING -->
    <section id="teaching" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Teaching</h2>
                    <h3 class="section-subheading text-muted">
                        I am an Assistant Professor at <a href="http://oregonstate.edu">Oregon State University</a> in the 
                        <a href="https://ceoas.oregonstate.edu/">College of Earth, Ocean and Atmospheric Sciences</a>. 
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            {% for course in site.data.courses %}
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="{{ course.url }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/teaching/{{ course.pic }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ course.title }}</h4>
                        <p class="text-muted">{{ course.description }}</p>
                        <h5>{{ course.offered }}</h5>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

<!--- CODE -->
    <section id="models" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Numerical (Computer) Models</h2>
                    <h3 class="section-subheading text-muted">I use a variety of numerical models to carry out scientific research, because each model is tailored to a specific set of questions. Many of these models are also great teaching tools for preparing the next-generation of scientists. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                        <img src="img/research/Vorticity_Fields_Website.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-6">
                    <ul class="code">
                        {% for code in site.data.codes %}
                        <li>
                            <h4><i class="fa fa-{{ code.network }}"></i> &nbsp;
                            <a href="{{ code.url }}">{{code.name}}</a></h4>
                            <p>{{code.description}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

<!-- people Section -->
    <section id="people" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research Group</h2>
                    <h3 class="section-subheading text-muted">Current, past, and future members of my research group at OSU.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.data.group_members %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/people/{{ member.pic }}" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-subheading">Direct Collaborators</h2>
                    <h3 class="section-subheading text-muted">Researchers that have led collaborations I have been a co-author on, or have collaborated on projects I have led.</h3>
                </div>
            </div>
            <div class="row">
                {% for person in site.data.collab_direct %}
                <div class="col-md-3"><div class="collaborator">
                <a href="{{ person.url }}">{{person.name}}</a>
                <br /><i class="fa fa-university"></i> &nbsp; {{ person.position }}
                </div></div>
                <!-- >{{ person.place }}{% if forloop.last %} &nbsp; {% else %}, {% endif %} -->
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-subheading">Additional Collaborators</h2>
                    <h3 class="section-subheading text-muted">Other scientists who have been collaborated with me on research projects and data collection, or have helped develop research ideas</h3>
                </div>
            </div>
            <div class="row">
                {% for person in site.data.collaborators %}
                <div class="col-md-3"><div class="collaborator">
                <a href="{{ person.url }}">{{person.name}}</a>
                <br /><i class="fa fa-university"></i> &nbsp; {{ person.place }}
                </div></div>
                <!-- >{{ person.place }}{% if forloop.last %} &nbsp; {% else %}, {% endif %} -->
                {% endfor %}
            </div>
        </div>
    </section>
    
    <!--- Join the Group! -->
    <section id="papers" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Postdoc position (start Fall 2021)</h2>
                    <h2 class="section-subheading">Application Deadline: 06/18/21</h2>
                    <h3>We are searching for a Postdoctoral Scholar to join Oregon State University (OSU) as part of the E3SM (Energy Exascale Earth System Model) Next Generation Development Activities.</h3>
                    <p>The scholar will develop, evaluate, and implement a new parameterization for upper ocean mixing in E3SM, in collaboration with physical oceanographers at both OSU and Los Alamos National Lab (LANL). This parameterization will utilize recent developments in mass flux closures and surface wave-driven mixing, and it will be evaluated against data from large eddy simulations (LES). The postdoc will have some leeway to design/run these LES if desired.</p>
                    <p style="text-align:left;">The postdoc will be hosted by OSU’s Physics of Oceans and Atmospheres program in Corvallis OR, as part of the Ocean Mixing Group. They will be assisted by remote computational resources for E3SM development, as well as extensive resources at OSU.</p>
                    <h3 class="section-subheading">The position is for two years (beginning as early as Fall 2021), has a salary of at least $55,000 plus benefits, and includes support for research costs (travel, publication etc.). The position requires that applicants have been awarded a PhD within the last 5 years.</h3>
                    <h2 class="section-subheading">Apply via email to Prof. Pearson with CV, personal statement of experience & career goals, and contact information for three references</h2>
                </div>
            </div>
        </div>
    </section>

